/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utils */

.container {
    max-width: 425px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.c-red {
    color: var(--icon-pin);
}

.c-blue {
    color: var(--icon-fb);
}

/*  Utilities for responsive Layout */


[class^="col"] {
    padding: 1rem;
    /* border: 1px dashed red; */
}

.row {
    display: flex;
    margin: 0 -1rem;
    flex-wrap: wrap;
}

.col {
    width: auto;
    flex-basis: auto;
    flex-grow: 1;
}

.col-1 {
    width: calc(100% / 12 * 1);
}

.col-2 {
    width: calc(100% / 12 * 2);
}

.col-3 {
    width: calc(100% / 12 * 3);
}

.col-4 {
    width: calc(100% / 12 * 4);
}

.col-5 {
    width: calc(100% / 12 * 5);
}

.col-6 {
    width: 50%
}

.col-7 {
    width: calc(100% / 12 * 7);
}

.col-8 {
    width: calc(100% / 12 * 8);
}

.col-9 {
    width: calc(100% / 12 * 9);
}

.col-10 {
    width: calc(100% / 12 * 10);
}

.col-11 {
    width: calc(100% / 12 * 11);
}

.col-12 {
    width: 100%;
}




/* Colors */
:root {
    --big-title: #ff9614;
    --main-color: #4e3969;
    --footer-bg-color: #7c69a4;
    --main-bg-color: #f6f5f3;
    --icon-fb: #1a77f3;
    --icon-tw: #009eff;
    --icon-ig: #e0519f;
    --icon-pin: #e62322;
    --icon-yt: #e62222;


}






/* Generics */

body {
    font-family: "Montserrat", sans-serif;
}


h1 {
    font-family: "Nerko One", cursive;
}


img {
    max-width: 100%;
}

li {
    list-style: none;
}

/* Header */

header {
    padding: 1rem;
    text-align: center;
    color: var(--big-title);
    font-size: 1.5rem;
    text-shadow: 1px 1px 1px black;

}


/* Main */

main {
    background-color: var(--main-bg-color);
}

/* Section Main - top  */

.main-section {
    padding: 1.2rem 1rem;
    background-color: #f6f5f3;
}


.desserts-main-top {
    h2 {
        color: var(--main-color);
        padding: 1rem;
        font-weight: 800;
    }

    span {
        color: #b1a2a8;
        font-size: 0.8rem;
    }
}


.desserts-main-bottom {
    background-color: #fff;
    padding: 0.5rem 1.5rem;

    h3 {
        color: black;
    }

    ul {
        display: flex;
        flex-direction: column;
        color: black;
    }
}


/* Social */

.icons-social {
    gap: 1rem;
    font-size: 1rem;
    padding: 1rem;
    justify-content: space-between;

    span {
        display: none;
    }

    i {
        border: 2px solid white;
        height: 35px;
        width: 38px;
        line-height: 32px;
        border-radius: 44%;
        text-align: center;
        background-color: white;
    }
}







/* RESPONSIVE TABLET*/

@media screen and (min-width:768px) {

    .container {

        max-width: 768px;
    }

    h1 {
        text-align: left;
    }



    .list-card ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

    }




    .icons-social {


        i {
            height: 45px;
            width: 120px;
            line-height: 45px;
            border-radius: 20px;

        }




    }


    /* Col responsive col-md- */

    .col-md-1 {
        width: calc(100% / 12 * 1);
    }

    .col-md-2 {
        width: calc(100% / 12 * 2);
    }

    .col-md-3 {
        width: calc(100% / 12 * 3);
    }

    .col-md-4 {
        width: calc(100% / 12 * 4);
    }

    .col-md-5 {
        width: calc(100% / 12 * 5);
    }

    .col-md-6 {
        width: 50%
    }

    .col-md-7 {
        width: calc(100% / 12 * 7);
    }

    .col-md-8 {
        width: calc(100% / 12 * 8);
    }

    .col-md-9 {
        width: calc(100% / 12 * 9);
    }

    .col-md-10 {
        width: calc(100% / 12 * 10);
    }

    .col-md-11 {
        width: calc(100% / 12 * 11);
    }

    .col-md-12 {
        width: 100%;
    }



}





/* RESPONSIVE DESKTOP */

@media screen and (min-width:992px) {


    main {
        width: 100%;
        color: var(--main-bg-color);



    }


    .container {
        max-width: 992px;
        width: 80%;
        color: var(--main-bg-color);

    }
}